main {
    #slider {
        button {
            background-color: #1089ff;
            padding: 20px;
            width: 200px;
            color: white;
            font-size: 20px;
            border-radius: 5px;
        }
    }
}