main {
    #slider {
        button {
            background-color: #1089ff;
            padding: 16px;
            width: 200px;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            margin-bottom: 12px;

        }
    }
}